html {
  background-color: gray;
  min-width: 800px;
}
header {
  background-color: blue;
  border: 5px solid black;
  text-align: center;
  font-size: 20px;
  color: white;
}
button {
  border: 2px double black;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 26px;
}
main {
  background-color: gray;
  height: 30px;
}
.cars {
  display: inline-block;
}
.racer {
  width:  20px;
  height: 20px;
  margin: 5px;
  border: 1px solid white;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
footer {
  background-color: blue;
  color: black;
}
